body{
  width: auto;
  text-align: center;
}
img{
  display: block;
  margin: 0 auto;
  width: 300px;
}
.exp1{
  padding: 13px 10px 5px 0px;
  border: 40px solid gray;
  width: 330px;
  box-sizing: border-box;
}

.exp2{
  padding: 20px 10px;
  border: 40px solid gray;
  width: 330px;
  box-sizing: border-box;
}

.exp3{
  padding: 20px 10px 5px;
  border: 40px solid gray;
  width: 330px;
  box-sizing: border-box;
}

.s1{
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: gray;
}

.s2{
  padding: 10px;
  margin: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: gray;
}

.s3{
  display: inline-block;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: gray;
}
h2{
  margin-bottom: 20px;
}
.shlop{
  margin-top: -25px;
}
.default_container{
  width: 100%; height: 50px;
}
li{
  display: inline;
}
*{
  margin: 0px;
  padding: 0px;
  word-break: break-all;
}
header, main, section, footer, aside, article, nav{
  display: block;
}
#div1{
  width: 980px;
  height: auto;
  padding: 15px auto;
  text-align: left;
}
#head2{
  border: 1px solid rgb(121, 121, 121);
  background-color: rgb(227, 227, 227);
  margin: 20px;
}
#sec5{
  width: 660px;
  float: left;
  padding: 20px; /* фактическая ширина 700пикс*/
}
#as6{
  width: 220px;
  padding: 15px 0px;
  margin: 20px; /* фактическая ширина 240пикс*/
  background-color: aquamarine;
  float: left;
}
#foot7{
  text-align: center;
  border-top: 2px solid black;
  margin: 20px;
}
#nav8{
  margin: 25px;
  background-color: rgb(154, 154, 154);
}
p{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}